body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 40px;
}

h1 {
  color: #38bdf8;
  font-size: 40px;
}

h2 {
  color: #22c55e;
}

a {
  color: #facc15;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-top: 40px;
}
