body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

nav{
background:#020617;
padding:15px;
}

.hero{
padding:100px 20px;
background:linear-gradient(45deg,#06b6d4,#6366f1);
}

button{
padding:10px 20px;
border:none;
background:black;
color:white;
cursor:pointer;
}

section{
padding:40px;
}

ul{
list-style:none;
padding:0;
}