body{
font-family:'Poppins',sans-serif;
margin:0;
background:#0f172a;
color:white;
text-align:center;
}

header{
padding:40px;
background:#020617;
}

section{
margin:40px auto;
width:80%;
padding:20px;
background:#1e293b;
border-radius:10px;
box-shadow:0 0 15px rgba(0,255,255,0.2);
}

h2{
color:#38bdf8;
}

ul{
list-style:none;
padding:0;
}

li{
margin:10px 0;
}

a{
color:#22c55e;
text-decoration:none;
font-weight:bold;
}

footer{
margin-top:40px;
padding:20px;
background:#020617;
}
